<div class="bg">
  <div class="flex flex-col pt-4 mx-4 align-mid height">
    <p class="white text-xl text-center">{{bingoCard.cardTitle}}</p>
      <div class="parent my-2 width">
        <div class="div1 border border-white flex flex-row justify-evenly auto title-size"> 
          <h1 class="white text-center font-semibold h-full">H</h1>
          <h1 class="white text-center font-semibold h-full">A</h1>
          <h1 class="white text-center font-semibold h-full">B</h1>
          <h1 class="white text-center font-semibold h-full">O</h1>
          <h1 class="white text-center font-semibold h-full">O</h1>
        </div>
        <ng-container *ngFor="let square of cardSquares; let i = index">
          <div class="div{{i+2}} square border border-white"  [ngClass]="{
            'common': cardSquares[i].difficulty == difficultyEnum.Common,
            'uncommon': cardSquares[i].difficulty == difficultyEnum.Uncommon,
            'rare': cardSquares[i].difficulty == difficultyEnum.Rare,
            'legendary': cardSquares[i].difficulty == difficultyEnum.Legendary,
          }"> </div>
        </ng-container>
        <!-- <div class="div3 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div4 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div5 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div6 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div7 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div8 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div9 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div10 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div11 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div12 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div13 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div14 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div15 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div16 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div17 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div18 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div19 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div20 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div21 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div22 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div23 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div24 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div25 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div>
        <div class="div26 square border border-white"  [ngClass]="{
          'common': cardSquares[0].difficulty == difficultyEnum.Common,
          'uncommon': cardSquares[0].difficulty == difficultyEnum.Uncommon,
          'rare': cardSquares[0].difficulty == difficultyEnum.Rare,
          'legendary': cardSquares[0].difficulty == difficultyEnum.Legendary 
        }"> </div> -->
        </div>
    </div>
</div>